<div class="container">

  <div id="header" class="jumbotron jumbotron-fluid text-center">
    <h1 class="display-4">More Detail about : {{employee?.name}}</h1>
    <p>ID : {{employee?.id}}</p>
    <p>Name : {{employee?.name}}</p>
  </div>

  <div class="employeeForm">

    <!-- <form > -->
        <!-- [formGroup]="employeeForm" (ngSubmit)="onSubmit()" -->
      <!-- <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="name">
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input type="text" class="form-control" id="age" placeholder="age">
      </div> -->
      <!-- <div>
        <button type="submit" [disabled]="!employeeForm.valid" class="btn btn-primary btn-lg btn-block">Submit</button>
      </div> -->
    <!-- </form> -->

  </div>
</div>
