.jumbotron{
    background-color: rgb(160, 160, 110);
    padding: 0px;
    margin: 0px;
}
#breadcrumb{
    margin: 0px;
}
.container{
    padding-top: 25px;
}
hr{ 
    height: 1px;
    color: red;
    background-color: red;
    border: none;
  }
tfoot{
    background-color: bisque;
}