<div class="container">
<div id="header" class="jumbotron jumbotron-fluid text-center">
  <h1 class="display-4">Employee Details</h1>
  <p class="lead">{{dateMessage}}</p>
</div>
<div>
  <button class="btn btn-primary btn-lg" (click)="addNew()">New Employee</button>
  <hr>
</div>
<div>

</div>
<table class="table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
    <th>More</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let employee of employees  ">
    <td>{{employee.id}}</td>
    <td>{{employee.name}}</td>
    <td>{{employee.age|number:'1.2-2'}}</td>
    <td><button class="btn btn-info" (click)="moreDetail()">More</button></td>
    <td><button class="btn btn-warning" (click)="updateDetail()">Edit</button></td>
    <td><button class="btn btn-danger">Delete</button></td>
  </tr>
</table>
</div>